@{
    /**************************************************************************
 * Copiright(C) 2016 Sergey Lupov
 *
 * English-in-Use (v.1.X.X) is an application for studying english.
 * Prepared english phrases are spoken in a random order.
 * You have to recall the translation of the phrase
 * and after a short pause they are spoken by the program automatically.
 *
 * Web Site: http://english-in-use.com
 * E-mail: sergey.lupov {at} english-in-use.com
 *
 * This file is part of English-in-Use.
 *
 * English-in-Use is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Foobar is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 ***************************************************************************/
}
@using English_in_Use.Models.Phrases
@model Phrase
@{
    int delay = ViewBag.Delay;
}
<div id="Window1" style="z-index:1; position:fixed; background-color:black; opacity: 0.8; top:0px; left:0px; width:2000px; height:2000px;" onclick="HideWindow()">
</div>
<div id="Window2" style="position: absolute; margin: 0 auto; background-color: blue; color: white; left: 200px; top: 150px; width: 600px; height: 400px; z-index: 2; font-size: 32pt; padding: 20px 0 0 0; text-align: center; border-radius: 10px; box-shadow: 10px 10px 20px rgba(0,0,0,0.5); border: 3px solid rgb(200, 200, 100);" onclick="hidewindow()">
    <div style="position: relative; top: 30px; left: 0px; width: 100%; height: 100px;">
        @Model.engPhrase
    </div>
    <div id="idPhrase2" style="position: relative; top: 50px; left: 0px; width: 100%; height: 150px;">
    </div>
    @using (Html.BeginForm("Index", "Main", FormMethod.Get))
    {
        <input type="submit" value="Stop" name="stopBtn" style="position: relative; top:50px; font-size: 14pt; width: 100px; height: 50px; border-radius: 10px; box-shadow: 1px 1px 2px rgba(0,0,0,0.5);/*" />
        <audio id="aud1"></audio>
        <script>

            var Aud = document.getElementById('aud1');
            Aud.volume = 1;
            Aud.src = "/" + "@Model.FileName" + "_en.mp3";
            Aud.play();

            Aud.addEventListener('ended', function () {
                        setTimeout(function () {
                            location.reload();
                        }, @delay), false
            });

        </script>
            <!--iframe src="/Main/View1" frameborder="no" width="90%" height="90%">Ваш браузер не поддерживает плавающие фреймы!<iframe-->

    }

</div>
