<h2>Запоминание произношения глаголов на английском языке</h2>
<div style="text-align:justify">
    Данный online-тренажер позволяет запомнить произношения глаголов на английском языке.<br>
    Глаголы в сочетании с местоимениями произносятся в случайном порядке
    в настоящем и прошедшем временах.
    Вам необходимо самостоятельно вспомнить перевод фразы, который после небольшой паузы произносится программой
    автоматически для самоконтроля.
    <br>
    <br>
    В нижней таблице выберите глаголы, которые хотите запомнить, затем нажмите кнопку <i>Run</i>.<br>
    На начальной стадии освоения рекомендуется выбирать только хорошо знакомые глаголы,
    пока не заучите до автоматизма произносимые программой фразы).</P>
    <br>
    <div style="padding:0px 40px; font-size:10pt">
        Для того чтобы пользоваться тренажером на андроид-устройствах, необходимо:
        <ol>
            <li>Установите на андроид интернет-браузер chrome.</li>
            <li>
                В адресной строке интернет-браузера chrome наберите: <b>chrome://flags</b> и установите опцию "<b>Disable gesture requirement for media playback</b>" в "<b>On</b>".
                В русской версии эта опция называется "<b>Отключить функцию управления жестами при воспроизведении мультимедийных файлов</b>". Без этой опции автозапуск html-проигрывателей на смартфонах и планшетах не работает. На ios-версии браузера данная опция отсутствует.
            </li>
            <li>Перезапустите chrome.</li>
        </ol>
    </div>

    <hr>
